torch==1.13.0+cu117
torchvision==0.14.0+cu117
torchaudio==0.13.0+cu117
packaging
timm==0.4.12
pytest
chardet
yacs
termcolor
submitit
tensorboardX
triton==2.0.0
causal_conv1d==1.0.0+cu118torch1.13cxx11abiFALSE
mamba_ssm==1.0.1+cu118torch1.13cxx11abiFALSE
scikit-learn
matplotlib
thop
h5py
SimpleITK
scikit-image
medpy
yacs
